* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5e63ba;
  padding: 0 10px;
}
.container {
  width: 1000px;
  background-color: #fff;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 10px;
}
.hang-man-box img {
  width: 270px;
}

.hang-man-box h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.27rem;
  margin-top: 20px;
}
.word-display {
  display: flex;
  gap: 10px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.word-display .letter {
  width: 28px;
  border-bottom: 3px solid #000;
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.word-display .letter.guessed {
  border: transparent;
  margin: -40px 0 35px;
}
.game-box h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.game-box h4 span {
  font-weight: 600;
}
.game-box .guess-text span {
  color: #ff0000;
}
.game-box .keyboard {
  margin-top: 40px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.keyboard button {
  width: calc(100% / 9 - 5px);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  border: none;
  padding: 7px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
}
.keyboard button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
.keyboard button:hover {
  background-color: #1a1919;
}
/* game modal styles */
.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
}
.game-modal.show {
  opacity: 1;
  pointer-events: auto;
}
.game-modal .content {
  background-color: #fff;
  max-width: 420px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}
.game-modal img {
  width: 130px;
}
.game-modal h4 {
  font-size: 1.5rem;
  margin-top: 20px;
}
.game-modal p {
  font-size: 1.1rem;
  margin: 15px 0 30px;
  font-weight: 500;
}
.game-modal span {
  font-weight: 600;
}
.game-modal .play-again {
  background-color: #0b9211;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
/* responsive design */
@media only screen and (max-width: 1024px) {
  .container {
    width: 850px;
    background-color: #fff;
    display: block;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
    text-align: center;
  }
  .hang-man-box img {
    width: 170px;
  }
  .hang-man-box h1 {
    margin-bottom: 40px;
  }
}
